Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: build
  retry: 1
  artifacts:
    name: nuclei_sdk_doc-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  before_script:
  - apt update
  - apt install -y lftp python3 make latexmk texlive-base texlive-latex-extra python3-pip
  - pip3 install -r doc/requirements.txt
  script:
  - cd doc
  ...

deploy_doc:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::xls01

deploy_website:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::xls01

NMSIS: add back CSR_MBADADDR
  NMSIS/Core/Include/riscv_encoding.h
Due: none

NMSIS: update encoding for vector and misc
  NMSIS/Core/Include/riscv_encoding.h
Due: none

tools: show more detailed error in serial operations
  tools/scripts/nsdk_cli/nsdk_builder.py
Due: none

tools: add timestamp check for download should not in same line
  tools/scripts/nsdk_cli/nsdk_builder.py
Due: none

application: Optimize dhrystone ground rule compiler options
  application/baremetal/benchmark/dhrystone/Makefile
  application/baremetal/benchmark/dhrystone/npk.yml
Due: none

SoC/demosoc: Enable BPU when startup for Nuclei new BPU feature
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
Due: none

test: update __enable_FPU API checker
  test/core/test_fpu.c
Due: none

tools: add random sanity runner tool
  tools/scripts/misc/random_sanity.py
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_sanity.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_sanity.json.libncrt
Due: none

test/core: add vector test code
  test/core/test_csr.c
  test/core/test_vector.c
Due: none

SoC/evalsoc: change _ilm_lma/_ilm/_eilm to _text_lma/_text/_etext during startup
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
Due: none

tools: flush output in random sanity script
  tools/scripts/misc/random_sanity.py
Due: none

ci: add sanity check job
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: update script to support run data lma in ilm
  tools/scripts/misc/dobench/data_in_ilm.patch
  tools/scripts/misc/dobench/run.sh
Due: none

ci: add checker for data in ilm check
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC: Cleanup evalsoc linker scripts
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_ddr.ld
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_flash.ld
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_flashxip.ld
  SoC/evalsoc/Board/nuclei_fpga_eval/Source/GCC/gcc_evalsoc_ilm.ld
Due: none

ci: add more downloads choices for sdk_run_datalma_inilm runner
  .gitlab-ci.yml
Due: build_doc, deploy_doc

NMSIS: Enable FPU/Vector will set state to initial not dirty
  NMSIS/Core/Include/core_feature_fpu.h
  NMSIS/Core/Include/core_feature_vector.h
Due: none

SoC/gd32vf103: update linker script and startup code like evalsoc
  SoC/gd32vf103/Board/gd32vf103c_longan_nano/Source/GCC/gcc_gd32vf103x8_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_longan_nano/Source/GCC/gcc_gd32vf103xb_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_t_display/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103v_eval/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103v_rvstar/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Common/Source/GCC/startup_gd32vf103.S
Due: none

ci: Fix sanity job and make all jobs manually
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: newlib_full should not use with ilm/flash due to code size issue
  tools/scripts/misc/random_sanity.py
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_sanity.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_sanity.json.libncrt
Due: none

SoC: FPU/Vector state set to initial and bpu enable before main
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
  SoC/gd32vf103/Common/Source/GCC/startup_gd32vf103.S
Due: none

SoC/demosoc: cleanup linker script and startup code like evalsoc
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_ddr.ld
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_flash.ld
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_flashxip.ld
  SoC/demosoc/Board/nuclei_fpga_eval/Source/GCC/gcc_demosoc_ilm.ld
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
Due: none

tools: exit with correct status
  tools/scripts/misc/random_sanity.py
Due: none

ci: dont make job manually enabled
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC/demosoc: BPU enable should be present before main
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
Due: none

doc: update changelog for linker and startup code changes
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

doc/build: update build system doc
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

NMSIS: add more bits definitions for mcache_ctl/mmisc_ctl/mcfg_info
  NMSIS/Core/Include/riscv_encoding.h
Due: none

NMSIS: IREGION_EXIST bit is in MCFG_INFO not in MMISC_CTL CSR
  NMSIS/Core/Include/riscv_encoding.h
Due: none

SoC: use MCFG_INFO_IREGION_EXIST in system_Device.c and format code
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
  SoC/demosoc/Common/Source/system_demosoc.c
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
  SoC/evalsoc/Common/Source/system_evalsoc.c
Due: none

doc: bump doc version to 0.3.9
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

env: bump npk package version to 0.3.9
  npk.yml
  package.json
Due: none

tools: add tips for build for different targets for barebench
  tools/scripts/misc/dobench/run.sh
Due: none

tools: add script for generate benchmark elf for both fpga and rtl simulation
  tools/scripts/misc/dobench/dobench.sh
Due: none

ci: update ci to generate both rtl and fpga bench elfs
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add report preview tool using grip
  tools/scripts/nsdk_cli/report_preview.py
  tools/scripts/requirements.txt
Due: none

ci: change github ci to use ubuntu 20.04
  .github/workflows/build_sdk.yaml
  .github/workflows/deploy_doc.yaml
Due: none

tools: copy dump files when build benchmark
  tools/scripts/misc/build_benchmark.sh
  tools/scripts/misc/dobench/app.json
  tools/scripts/misc/dobench/dhry.json
Due: none

ci: copy elf/map/dump files when dobench.sh
  .gitlab-ci.yml
Due: build_doc, deploy_doc

env: start development of release 0.4.0
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*
