Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

build_doc:
  stage: build
  retry: 1
  artifacts:
    name: nuclei_sdk_doc-${CI_COMMIT_SHA::8}
    paths:
    - doc/build
    expire_in: 2 day
  before_script:
  - apt update
  - apt install -y lftp python3 make latexmk texlive-base texlive-latex-extra python3-pip
  - pip3 install -r doc/requirements.txt
  script:
  - cd doc
  ...

deploy_doc:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ssh $DOC_SERVER "rm -rf $DOC_CENTER/nuclei_sdk/*"
  - ssh $DOC_SERVER "mkdir -p $DOC_CENTER/nuclei_sdk/"
  - cd doc/build
  - scp -r html $DOC_SERVER:$DOC_CENTER/nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::xls01

deploy_website:
  stage: deploy
  when: on_success
  retry: 1
  script:
  - ./.ci/ftp_deploy.sh $FTPUSER $FTPPWD $FTPSERVER doc/build/html nuclei_sdk
  dependencies:
  - build_doc
  tags:
  - env::native
  - host::xls01

NMSIS: fix rename.
  NMSIS/Core/Include/core_feature_cidu.h
Due: none

SoC: sync from demosoc's, set BOOT_HARTID 0 when undefined
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
Due: none

application: add demo for cache understanding and hpm use
  application/baremetal/demo_cache/Makefile
  application/baremetal/demo_cache/demo_cache.c
  application/baremetal/demo_cache/npk.yml
Due: none

doc: update design part of app demo_cache
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

SoC: update evalsoc's external interrupt IDs in eclic IRQn define
  SoC/evalsoc/Common/Include/evalsoc.h
Due: none

doc: update cache part
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

NMSIS: rename by CIDU_ beginning and doxycomment
  NMSIS/Core/Include/core_feature_cidu.h
Due: none

application: update config info for npk.yml
  application/baremetal/demo_cache/Makefile
  application/baremetal/demo_cache/npk.yml
Due: none

SoC: adjust defines to somewhere else
  SoC/demosoc/Common/Include/demosoc.h
  SoC/evalsoc/Common/Include/evalsoc.h
Due: none

application: update npk.yml info
  application/baremetal/demo_cache/npk.yml
  application/baremetal/demo_cidu/npk.yml
Due: none

NMSIS: Fix typo of choice
  NMSIS/npk.yml
Due: none

application: optimize demo_nice for rv64
  application/baremetal/demo_nice/main.c
  application/baremetal/demo_nice/npk.yml
Due: none

ci: change runner host from xls01 to whss1
  .gitlab-ci.yml
Due: build_doc, deploy_doc

add RT-Thread_Packages_Test ci
  .github/workflows/rtt_pkg_test.yml
Due: none

tools: modify openocd config support win32
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

NMSIS: add __get_cluster_id and __get_hart_id in NMSIS-Core
  NMSIS/Core/Include/core_feature_base.h
  NMSIS/Core/Include/core_feature_timer.h
Due: none

SoC: update smp/amp boot flow to match mhartid csr update in previous commit
  SoC/demosoc/Common/Include/demosoc.h
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
  SoC/demosoc/Common/Source/system_demosoc.c
  SoC/demosoc/build.mk
  SoC/evalsoc/Common/Include/evalsoc.h
  SoC/evalsoc/Common/Source/GCC/startup_evalsoc.S
  SoC/evalsoc/Common/Source/system_evalsoc.c
  SoC/evalsoc/build.mk
Due: none

application: update helloworld and smphello due mhartid changes
  application/baremetal/helloworld/main.c
  application/baremetal/smphello/main.c
Due: none

env: update npk and package version to 0.4.1-dev
  npk.yml
  package.json
Due: none

doc: update changelog for 0.4.1-dev
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

doc: add doc about SEMIHOST make variable
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

NMSIS: update cidu api comment about mhartid
  NMSIS/Core/Include/core_feature_cidu.h
Due: none

application: update demo_cidu application to match mhartid update
  application/baremetal/demo_cidu/demo_cidu.c
Due: none

NMSIS/Core: Fix typos and comments in cidu APIs
  NMSIS/Core/Include/core_feature_cidu.h
Due: none

NMSIS: comment about mhartid changes for nuclei subsystem reference design
  NMSIS/Core/Include/core_feature_base.h
Due: none

doc: update mhartid changes in changelog
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

tools: record ci information if in ci in result.json and runresult.json
  tools/scripts/nsdk_cli/nsdk_builder.py
  tools/scripts/nsdk_cli/nsdk_report.py
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

tools: record realpath of ncycm and fpgabit for better debug
  tools/scripts/nsdk_cli/nsdk_runner.py
Due: none

tools: Fix script error invalid syntax
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

build: add support to compile cxx file extension with .cc/.CC
  Build/Makefile.misc
Due: none

doc: update changelog for support .cc file compile
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

NMSIS/Core: return info when locking I/DCache lines fails
  NMSIS/Core/Include/core_feature_cache.h
  NMSIS/Core/Include/riscv_encoding.h
Due: none

tools: add --uniqueid option for nsdk cli tools
  tools/scripts/nsdk_cli/nsdk_bench.py
  tools/scripts/nsdk_cli/nsdk_execute.py
  tools/scripts/nsdk_cli/nsdk_runcpu.py
  tools/scripts/nsdk_cli/nsdk_runner.py
Due: none

tools: Add runresult_diff.py to compare two runresult.xlsx.csvtable.json files
  tools/scripts/nsdk_cli/nsdk_utils.py
  tools/scripts/nsdk_cli/runresult_diff.py
Due: none

ci: sync tools runresult_diff.py -> runrstdiff_cli
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: update changelog for nsdk_cli tools update
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

build: remove nosys.spec used during compile
  Build/Makefile.conf
Due: none

SoC: remove --specs=nosys.specs usage in npk.yml
  SoC/demosoc/Common/npk.yml
  SoC/evalsoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

SoC/evalsoc: add chown/environ/errno/link/readlink/symlink newlib stub functions
  SoC/evalsoc/Common/Source/Stubs/newlib/chown.c
  SoC/evalsoc/Common/Source/Stubs/newlib/environ.c
  SoC/evalsoc/Common/Source/Stubs/newlib/errno.c
  SoC/evalsoc/Common/Source/Stubs/newlib/link.c
  SoC/evalsoc/Common/Source/Stubs/newlib/readlink.c
  SoC/evalsoc/Common/Source/Stubs/newlib/symlink.c
Due: none

SoC/demosoc: add new stub functions required by newlib
  SoC/demosoc/Common/Source/Stubs/newlib/chown.c
  SoC/demosoc/Common/Source/Stubs/newlib/environ.c
  SoC/demosoc/Common/Source/Stubs/newlib/errno.c
  SoC/demosoc/Common/Source/Stubs/newlib/link.c
  SoC/demosoc/Common/Source/Stubs/newlib/readlink.c
  SoC/demosoc/Common/Source/Stubs/newlib/symlink.c
Due: none

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*
