Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*

tools: update benchmark script for 200/300/600/900 bits
  tools/scripts/misc/barebench/barebench.yaml
  tools/scripts/misc/barebench/dhrystone.yaml
  tools/scripts/misc/barebench/run.sh
  tools/scripts/misc/env.sh
Due: none

tools: disable pyusb to check usb serial
  tools/scripts/nsdk_cli/nsdk_runner.py
Due: none

tools: flush before and after fpga program
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

tools: add RUNMODE for barebench and dhry
  tools/scripts/misc/barebench/run.sh
Due: none

build: add more information show in make showflags
  Build/Makefile.rules
Due: none

doc: update changelog for 0.3.7
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

env: bump to 0.3.7 version
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

tools: record more flags in nsdk_builder.py
  tools/scripts/nsdk_cli/nsdk_builder.py
Due: none

env: start development of 0.3.8
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

SoC: porting for libncrt 2.0.0/emrun 4.12.1
  SoC/demosoc/Common/Source/Stubs/libncrt/stubs.c
  SoC/gd32vf103/Common/Source/Stubs/libncrt/stubs.c
Due: none

SoC: add back compatiability with previous gnu toolchain
  SoC/demosoc/Common/Source/Stubs/libncrt/stubs.c
  SoC/gd32vf103/Common/Source/Stubs/libncrt/stubs.c
Due: none

doc: update changelog for libncrt 2.0.0 initial support
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

ci: use 2022.05-eng2 docker image which has libncrt2.0.0
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add more bench configurations for cycle model
  tools/scripts/nsdk_cli/configs/ncycm/cmkdhry_n300.json
  tools/scripts/nsdk_cli/configs/ncycm/cmkdhry_n900.json
  tools/scripts/nsdk_cli/configs/ncycm/whet_n300.json
  tools/scripts/nsdk_cli/configs/ncycm/whet_n900.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ncycm_bench.json
Due: none

ci: add ci job to run on cycle model
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add bench libncrt script for different toolchain
  tools/scripts/misc/barebench/run.sh
  tools/scripts/misc/env.sh
  tools/scripts/misc/run_libncrt.sh
Due: none

tools: add more global variables through environment variables
  tools/scripts/nsdk_cli/nsdk_builder.py
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

tools: don't do stash push and pop
  tools/scripts/misc/dobench/run.sh
Due: none

env: add script to generate bench elfs in ilm
  tools/scripts/misc/dobench/data_in_ilm.patch
  tools/scripts/misc/dobench/run.sh
Due: none

tools: describe environment after apply patch
  tools/scripts/misc/dobench/run.sh
Due: none

tools: add RUNMODE=clib to benchmark stdclib
  tools/scripts/misc/barebench/clibbench.yaml
  tools/scripts/misc/barebench/n200_clib.json
  tools/scripts/misc/barebench/n300_clib.json
  tools/scripts/misc/barebench/n600_clib.json
  tools/scripts/misc/barebench/n900_clib.json
  tools/scripts/misc/barebench/run.sh
  tools/scripts/misc/barebench/ux600_clib.json
  tools/scripts/misc/barebench/ux900_clib.json
Due: none

tools: runresult.xls can be generated correctly even some data are missing
  tools/scripts/nsdk_cli/nsdk_report.py
Due: none

doc: update changelog for tools changes
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

tools: increase ncycm banner timeout and default banner timeout
  tools/scripts/nsdk_cli/nsdk_builder.py
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

ci: change ci to use high-freq-linux runner for ncycm
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: increase timeout for whetstone in n900
  tools/scripts/nsdk_cli/configs/ncycm/whet_n900.json
Due: none

ci: change ncycm job timeout to 12h
  .gitlab-ci.yml
Due: build_doc, deploy_doc

NMSIS: nmsis_core.h might be included twice
  NMSIS/Core/Include/nmsis_core.h
Due: none

NMSIS: Some macros used in NMSIS need to expose when DSP present
  NMSIS/Core/Include/core_feature_dsp.h
Due: none

OS: Fix when RT_USING_HEAP is enabled, msh app failed issue
  OS/RTThread/libcpu/risc-v/nuclei/cpuport.c
  application/rtthread/msh/rtconfig.h
Due: none

SoC: change to support iregion changes in cpu
  SoC/demosoc/Common/Include/demosoc.h
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
  SoC/demosoc/Common/Source/system_demosoc.c
Due: none

NMSIS: add CSR_MIRGB_INFO macro = 0x7F7
  NMSIS/Core/Include/riscv_encoding.h
Due: none

SoC: Fix ram size from 20K to 32K for gd32vf103v_eval and gd32vf103v_rvstar
  SoC/gd32vf103/Board/gd32vf103c_longan_nano/Source/GCC/gcc_gd32vf103x8_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_longan_nano/Source/GCC/gcc_gd32vf103xb_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103c_t_display/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103v_eval/Source/GCC/gcc_gd32vf103_flashxip.ld
  SoC/gd32vf103/Board/gd32vf103v_rvstar/Source/GCC/gcc_gd32vf103_flashxip.ld
Due: none

doc: update changelog for recent changes
  doc/source/changelog.rst
Due: build_doc, deploy_doc, deploy_website

Fix order of masking operations
  SoC/gd32vf103/Common/Source/Drivers/Usb/drv_usbd_int.c
  SoC/gd32vf103/Common/Source/Drivers/Usb/drv_usbh_int.c
Due: none

Eliminate unused variables
  SoC/gd32vf103/Common/Source/Drivers/gd32vf103_i2c.c
Due: none

Eliminate cast
  SoC/gd32vf103/Common/Source/system_gd32vf103.c
Due: none

Wrap declarations when including from C++
  SoC/gd32vf103/Common/Include/gd32vf103.h
  SoC/gd32vf103/Common/Include/gd32vf103_adc.h
  SoC/gd32vf103/Common/Include/gd32vf103_bkp.h
  SoC/gd32vf103/Common/Include/gd32vf103_can.h
  SoC/gd32vf103/Common/Include/gd32vf103_crc.h
  SoC/gd32vf103/Common/Include/gd32vf103_dac.h
  SoC/gd32vf103/Common/Include/gd32vf103_dbg.h
  SoC/gd32vf103/Common/Include/gd32vf103_dma.h
  SoC/gd32vf103/Common/Include/gd32vf103_exmc.h
  SoC/gd32vf103/Common/Include/gd32vf103_exti.h
  SoC/gd32vf103/Common/Include/gd32vf103_fmc.h
  SoC/gd32vf103/Common/Include/gd32vf103_fwdgt.h
  SoC/gd32vf103/Common/Include/gd32vf103_gpio.h
  SoC/gd32vf103/Common/Include/gd32vf103_i2c.h
  SoC/gd32vf103/Common/Include/gd32vf103_libopt.h
  SoC/gd32vf103/Common/Include/gd32vf103_pmu.h
  SoC/gd32vf103/Common/Include/gd32vf103_rcu.h
  SoC/gd32vf103/Common/Include/gd32vf103_rtc.h
  SoC/gd32vf103/Common/Include/gd32vf103_spi.h
  SoC/gd32vf103/Common/Include/gd32vf103_timer.h
  SoC/gd32vf103/Common/Include/gd32vf103_usart.h
  SoC/gd32vf103/Common/Include/gd32vf103_wwdgt.h
Due: none

SoC: Wrap declarations for gd32vf103 when including from C++ (#38)
  SoC/gd32vf103/Common/Include/gd32vf103.h
  SoC/gd32vf103/Common/Include/gd32vf103_adc.h
  SoC/gd32vf103/Common/Include/gd32vf103_bkp.h
  SoC/gd32vf103/Common/Include/gd32vf103_can.h
  SoC/gd32vf103/Common/Include/gd32vf103_crc.h
  SoC/gd32vf103/Common/Include/gd32vf103_dac.h
  SoC/gd32vf103/Common/Include/gd32vf103_dbg.h
  SoC/gd32vf103/Common/Include/gd32vf103_dma.h
  SoC/gd32vf103/Common/Include/gd32vf103_exmc.h
  SoC/gd32vf103/Common/Include/gd32vf103_exti.h
  SoC/gd32vf103/Common/Include/gd32vf103_fmc.h
  SoC/gd32vf103/Common/Include/gd32vf103_fwdgt.h
  SoC/gd32vf103/Common/Include/gd32vf103_gpio.h
  SoC/gd32vf103/Common/Include/gd32vf103_i2c.h
  SoC/gd32vf103/Common/Include/gd32vf103_libopt.h
  SoC/gd32vf103/Common/Include/gd32vf103_pmu.h
  SoC/gd32vf103/Common/Include/gd32vf103_rcu.h
  SoC/gd32vf103/Common/Include/gd32vf103_rtc.h
  SoC/gd32vf103/Common/Include/gd32vf103_spi.h
  SoC/gd32vf103/Common/Include/gd32vf103_timer.h
  SoC/gd32vf103/Common/Include/gd32vf103_usart.h
  SoC/gd32vf103/Common/Include/gd32vf103_wwdgt.h
Due: none
