Repository Nuclei-Software/nuclei-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_doc, deploy_doc, deploy_website

Path conditions:
  build_doc: any of: doc/**/**/**/*, .gitlab-ci.yml
  deploy_doc: any of: doc/**/**/**/**/*, .gitlab-ci.yml
  deploy_website: any of: doc/**/**/**/**/*

ci: Fix syntax error in .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_doc, deploy_doc

SoC: update npk.yml for smp/heapsz/stacksz support
  SoC/demosoc/Board/nuclei_fpga_eval/npk.yml
  SoC/demosoc/Common/npk.yml
  SoC/gd32vf103/Common/npk.yml
Due: none

application: add ns soc support
  application/baremetal/smphello/npk.yml
Due: none

application: update smphello support for general SoC
  application/baremetal/smphello/npk.yml
Due: none

doc: update doc about smp support
  doc/source/changelog.rst
  doc/source/design/app.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

doc: Fix doc content format in soc
  doc/source/design/soc/demosoc.rst
  doc/source/design/soc/gd32vf103.rst
Due: build_doc, deploy_doc, deploy_website

tools: add newlib_full json configurations
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_bpv_newlib.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_newlib.json
Due: none

doc: update python pip requirements
  doc/requirements.txt
Due: build_doc, deploy_doc, deploy_website

ci: add newlib ci compare jobs
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: increase timeout for qemu and exclude test/core
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_bpv_newlib.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_newlib.json
Due: none

SoC: Only when SMP > 1, the smp related boot code enabled for demosoc
  SoC/demosoc/Common/Source/GCC/startup_demosoc.S
Due: none

ci: use 2022.05 podman images
  .gitlab-ci.yml
Due: build_doc, deploy_doc

doc: bump doc version to 0.3.8
  doc/source/changelog.rst
  doc/source/conf.py
Due: build_doc, deploy_doc, deploy_website

env: bump sdk version to 0.3.8
  npk.yml
  package.json
Due: none

ci: use nsdk cli tools to do github ci
  .github/workflows/build_sdk.yaml
Due: none

Update build_sdk.yaml
  .github/workflows/build_sdk.yaml
Due: none

Update deploy_doc.yaml
  .github/workflows/deploy_doc.yaml
Due: none

ci: add auto cancel jobs for previous commit
  .github/workflows/build_sdk.yaml
  .github/workflows/deploy_doc.yaml
Due: none

ci: pip3 install required tools
  .github/workflows/build_sdk.yaml
  .github/workflows/deploy_doc.yaml
Due: none

ci: Fix install of pyserial
  .github/workflows/build_sdk.yaml
Due: none

ci: Update github workflow to use nsdk_cli tools (#43)
  .github/workflows/build_sdk.yaml
  .github/workflows/deploy_doc.yaml
Due: none

doc: Fix doc typo and format
  doc/source/changelog.rst
  doc/source/develop/buildsystem.rst
Due: build_doc, deploy_doc, deploy_website

misc: start development for nuclei-sdk 0.3.9 release
  doc/source/changelog.rst
  doc/source/conf.py
  npk.yml
  package.json
Due: build_doc, deploy_doc, deploy_website

tools: if serial_port in yaml is empty will find port using ftdi_serial
  tools/scripts/nsdk_cli/nsdk_runner.py
  tools/scripts/nsdk_cli/nsdk_utils.py
  tools/scripts/nsdk_cli/runner_schema.yaml
Due: none

ci: Fix correct local doc server
  .gitlab-ci.yml
Due: build_doc, deploy_doc

tools: add script to find fpgas
  tools/scripts/nsdk_cli/find_devices.tcl
  tools/scripts/nsdk_cli/find_usb.py
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

tools: update script for nsdk_runner
  tools/scripts/nsdk_cli/find_usb.py
  tools/scripts/nsdk_cli/nsdk_runner.py
Due: none

build: Add run_qemu_debug/run_xlspike_rbb/run_xlspike_openocd make targets
  Build/Makefile.conf
  Build/Makefile.rules
Due: none

SoC: add openocd xlspike configuration for remote bitbang
  SoC/demosoc/Board/nuclei_fpga_eval/openocd_xlspike.cfg
  SoC/demosoc/build.mk
Due: none

tools: add hangup action for nsdk_runner
  tools/scripts/nsdk_cli/nsdk_builder.py
  tools/scripts/nsdk_cli/nsdk_runner.py
Due: none

tools: enable runner reprogram on fpga
  tools/scripts/nsdk_cli/nsdk_builder.py
  tools/scripts/nsdk_cli/nsdk_runner.py
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

application: update nice demo due to rtl change
  application/baremetal/demo_nice/insn.h
Due: none

tools: show failed applications when done report
  tools/scripts/nsdk_cli/nsdk_report.py
  tools/scripts/nsdk_cli/nsdk_utils.py
Due: none

SoC: SIMU=qemu will also work for xlspike
  SoC/demosoc/Common/Source/demosoc_common.c
Due: none

SoC: even no SIMU passed will make xlspike exit
  SoC/demosoc/Common/Source/demosoc_common.c
  SoC/demosoc/Common/Source/system_demosoc.c
Due: none

application: Add low power example for RISC-V
  application/baremetal/lowpower/Makefile
  application/baremetal/lowpower/main.c
  application/baremetal/lowpower/npk.yml
Due: none

doc: add documentation about lowpower application
  doc/source/changelog.rst
  doc/source/design/app.rst
Due: build_doc, deploy_doc, deploy_website

tools: make demo_nice expected to be false in qemu
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu.json
  tools/scripts/nsdk_cli/configs/nuclei_fpga_eval_ci_qemu_newlib.json
Due: none
